/* Default CSS Stylesheet for a new Web Application project */

body
{
	margin-top: 0px;
	font-size: 80%; 
	background-color: White;
	margin-left: 30px;
	font-family: Tahoma, Verdana, Arial;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

a.skiplinks:link,a.skiplinks:visited {
    position:absolute;
    color:#ffffff;
    top:-100px;
    left:-1000px;
    height:1px;
    width:1px;
    overflow:hidden;
    text-align:left;    
}

a.skiplinks:active,a.skiplinks:focus {
    top:0;
    left:0;
    background-color:#008ECE;
    height:auto;
    overflow:auto;
    width:100%;
    padding:5px;
    text-decoration:none;
    z-index:2;
}


.Successtext
{
	font-family:Tahoma, Verdana, Arial;
	font-size: 80%;
	font-weight:bold;
	color:#00cc00;
}

.HomeColumnHeaders
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 80%;
	font-weight: bold;
	color: Black;
}

.HomeTitles
{
	font-family:Tahoma, Verdana, Arial;
	font-size: 160%;
	font-weight: bold;
	color: Black;
	text-decoration:underline;
}


td
{
	font-size: 80%;
	font-family: Tahoma, Verdana, Arial;
}

.tableFont
{
	font-size: 80%;
}


H1, H2, H3, H4, H5, THEAD, TFOOT
{
   COLOR: #003366;
}

H1	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	200%;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	175%;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	158%;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	133%;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	100%;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Tahoma, Verdana, Arial;
	font-size:	80%;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	100%;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Tahoma, Verdana, Arial;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	100%;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Tahoma, Verdana, Arial;
	}	


A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	70%;
	}	

BIG	{	
	font-size:	117%;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	
.DayItem 
{
	font-size: 80%;
}

#searchResults {
	padding-left: 1em;
}

.gridTitle{
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}

.searchTitle{
	font-size: 120%;
	font-weight: bold;
	text-decoration: underline;	
}

.searchTerm{
	font-weight: bold;
}

.searchImage{
	padding: 10px 10px 10px 10px;
}

#gridPhonetic, #gridOrthographic, #gridText, #gridMerged{
 	padding-bottom: 10px;
}

.gridHeader {
	padding-top: 10px;
}

.errorMessage
{	
	color: Red;
	font-style: italic;
	font-size: 80%;	
}

div.row {
	clear: both;
	padding-top:5px;
}	

div.subrow {
	clear: both;
	padding-left: 5em;
	padding-top: 5px;
}

span.label {
	float: left;
	width: 150px;
	text-align: right;
}

span.formr {
	float: right;
	width: 335px;
	text-align: left;
}
