<?xml version="1.0"?>
<configuration>
  <!-- Start Random Password Generator Config Sections -->
  <configSections>
    <sectionGroup name="CAM.PasswordGeneratorLibrary">
      <section name="PasswordGenerators" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="RandomNumberGenerators" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="PasswordGeneratorDefaults" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>

  <CAM.PasswordGeneratorLibrary>
    <PasswordGenerators>
      <add key="RandomPasswordGenerator" value="CAM.PasswordGeneratorLibrary.RandomPasswordGenerator"/>
    </PasswordGenerators>
    <RandomNumberGenerators>
      <add key="cryptographic" value="CAM.PasswordGeneratorLibrary.CryptographicRandomNumberGenerator"/>
      <add key="pseudo-random" value="CAM.PasswordGeneratorLibrary.PseudoRandomNumberGenerator"/>
    </RandomNumberGenerators>
    <PasswordGeneratorDefaults PasswordGenerator="RandomPasswordGenerator" RandomNumberGenerator="cryptographic"/>
  </CAM.PasswordGeneratorLibrary>
  <!-- End Random Password Generator Config Sections -->

  <appSettings>
    <add key="ConnectionString" value="Data Source=poca; User ID=poca; Password=poca_user; Min Pool Size=10; Connection Lifetime=120; Connection Timeout=60; Incr Pool Size=5; Decr Pool Size=2"/>

    <!--
		  Email system setup.
      EmailServerType key is the server type - set to "gmail" or "custom".
      EmailServer key is the server name of the email server i.e. gmail/yahoo/homail or some corporate email server 
      EmailUsername key is the username for logging into the email server.
      EmailUserpassword key is the password for the user that is logging into the email server.
      EmailPort key is the email server port.
      EmailEnableSSL key is to set SSL communication true or false
		-->
    
    <!-- In case of corporate exchange server, the setting will be as below. -->
    <!-- 
      <add key="EmailServerType" value="custom"/>
      <add key="EmailServer" value="Your Corporate EMAIL Server/>
      <add key="EmailUsername" value=""/>
      <add key="EmailUserpassword" value=""/>
    -->

    <!-- In case of third party hosted exchange server for small businesses, the setting will be as below. -->
    <!-- 
      <add key="EmailServerType" value="gmail"/>
      <add key="EmailServer" value="Your Company SMTP Server OR Gmail/Yahoo email SMTP Server/>
      <add key="EmailUsername" value="youremail@company.domain"/>
      <add key="EmailUserpassword" value="youremailpassword"/>
      <add key="EmailPort" value="yourEmailServerPort"/>
      <add key="EmailEnableSSL" value="false"/>
    -->

    <!-- Default Settings: In case of gmail mail server, the setting will be as below. -->
    <add key="EmailServerType" value="gmail"/>
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailUsername" value="pocabits@gmail.com"/>
    <add key="EmailUserpassword" value="Poc@123456789"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailEnableSSL" value="true"/>


    <!-- ERROR REPORTING -->
    <!-- ONLY ONE FROM AND TO EMAIL ALLOWED-->
    <add key="SendErrorEmail" value="true"/>
    <add key="CreateErrorLog" value="true"/>
    <add key="ForceErrorMessage" value="0"/>
    <add key="ErrorFromEmail" value="youremail@domain.com"/>
    <add key="ErrorToEmail" value="youremail@domain.com"/>

    <!-- 
			Default DataSource Area Key
			Values:
				2458 - Drugs@FDA
				2098 - RxNorm
        581  - Safety Evaluator
        3527 - Biologic Suffix
		-->
    <add key="DefaultDataSource" value="2458"/>

    <!-- Windows Database-->
    <add key="FileUploadDirectory" value="C:\POCA_DATA_IMPORT"/>
    <!-- Solaris Database-->
    <!-- <add key="FileUploadDirectory" value="/poca_data_import/"/> -->

    <add key="ErrorLogPath" value="/errorlog/poca.txt"/>

    <add key="CustomDate" value="{0:d}"/>
    <add key="CustomDateTime" value="MM-dd-yyyy hh:mm:ss tt"/>

    <!-- Other Search Engine Defaults -->
    <add key="DefaultThreshold" value="65"/>
    <add key="DefaultWeight" value="25"/>
    <add key="DefaultItemsPerPage" value="15"/>
    <add key="ShowErrorMessages" value="True"/>

    <!-- Random Password Keys -->
    <add key="CAM.RandomPasswordGenerator.Numbers" value="0,1,2,3,4,5,6,7,8,9"/>
    <add key="CAM.RandomPasswordGenerator.LowercaseCharacters" value="a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"/>
    <add key="CAM.RandomPasswordGenerator.UppercaseCharacters" value="A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z"/>
    <add key="CAM.RandomPasswordGenerator.OtherCharacters" value="!,@,#,$,%,^,&amp;,*"/>

    <!-- Single Shared Code Settings -->
    <add key="ApplicationMode" value="PublicMode"/>
  </appSettings>

  <!-- General Access Pages -->
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RequestAccount.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- General ASP.Net configs -->
  <system.web>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0">
    </compilation>

    <customErrors mode="Off"/>

    <authentication mode="Forms">
      <forms name=".AUTHCOOKIE" loginUrl="default.aspx" timeout="45" path="/"/>
      <!-- Changed from 10 to 45 minutes before the user needs to login again -->
      <!-- <forms name=".AUTHCOOKIE" loginUrl="default.aspx" timeout="10" path="/"/> -->
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" timeout="50"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="32768" />
  </system.web>
</configuration>
